* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Robot', sans-serif;
    line-height: 1.5em;
}

a {
    color:black;
    text-decoration:none;
    font-weight:bold;
}

.intro header{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    background-image: url('edited_hiker_bigger.png');
    background-position: right;
    background-size:contain;
    background-repeat: no-repeat;
    margin-bottom:80px;
}

h3 {
    font-family: "Heimat Display";
    src: url("/fonts/Heimat Display 20 Regular.woff") format("woff2");
    font-size: 2.5em; 
}



.intro h1 {
    font-family: "Heimat Display";
    src: url("/fonts/Heimat Display 20 Regular.woff") format("woff2");
    font-size: 120px;   
    grid-column: 1 /3;
    padding-left: 50px;
}

.intro h2 {
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    text-transform:lowercase;
    color: rgba(0,0,0,0.6);
    grid-column: 1/3;
    padding-left: 50px;
}

.summary {
    background-color: #4984c5;
    padding:30px;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    font-size: 20px;
    
}



.summary h2 {
    grid-column: 1 / 4;
}

.summary p {
    grid-column: 1 /4;
    padding: 20px;
}

.summary p a {
    color: white;
    font-size:1.4em;
    text-decoration: none;
}

.requirements {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    background-image:url('img/kayak_light.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: right center;
    background-color:white;
    padding: 50px;
}

.requirements p, h3 {
    grid-column: 1 / 5;
}

.design-selection nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.design-selection nav ul li {
    padding: 50px;
}

.design-selection nav {
    color: white;
}

.design-selection nav ul li a {
    color:white;
    text-decoration:none;
    font-family: "Heimat Display";
    src: url("/fonts/Heimat Display 20 Regular.woff") format("woff2");
    font-weight:bold;
}

.design-selection nav ul li:nth-child(1) {
    background-color: #4984c5;
    grid-column: 1 /2;
}
.design-selection nav ul li:nth-child(2) {
    background-color: #f09e56;
    grid-column: 2 /3;
}

.design-selection nav ul li:nth-child(3) {
    background-color: #ffffff;
    grid-column: 3 / 4;
    color: black;
}
.design-selection nav ul li:nth-child(3) a {
    color: black;
}

.design-selection nav ul li:nth-child(4) {
    background-color: #facd2f;
    grid-column: 4;
}

.design-selection nav ul li:nth-child(5) {
    background-color: #ffffff;
    grid-column: 1 / 2;
    color: black;
}
.design-selection nav ul li:nth-child(5) a {
    color: black;
}

.design-selection nav ul li:nth-child(6) {
    background-color: #4984c5;
    grid-column: 2 / 3;
}

.design-selection nav ul li:nth-child(7) {
    background-color: #facd2f;
    grid-column: 3 / 4;
}

.design-selection nav ul li:nth-child(8) {
    background-color: #ffffff;
    grid-column: 4;
    color: black;
}
.design-selection nav ul li:nth-child(8) a {
    color: black;
}

ul{
    list-style-type: none;
}


.requirements p:last-child() {
    font-size:5em;
}

.select {
    display: none;
}

#design-archives nav ul{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

#design-archives nav ul li:nth-child(1) {
    grid-column: 1 /2;
    background-color: #4984c5;
    padding:30px;   
}

#design-archives nav ul li:nth-child(2) {
    grid-column: 2;
    background-color: #f09e56;
    padding:30px;   
}

#design-archives nav ul li:nth-child(1) a{
    color:white; 
    text-decoration:none;  
}

#design-archives nav ul li:nth-child(2) a{
    color:white;
    text-decoration:none; 
}

.archives {
    display:none;
}

/* what the heck */
.design-archives nav ul li:nth-child(1) a{
    grid-column: 2 / 4;
}

.design-archives nav ul li:nth-child(2) a{
    grid-column: 4 / 5;
}


footer {
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    padding:70px;
    font-weight:bold;
    font-size:1.4em;
    background-color:white;
}

footer a {
    padding:30px;
    text-align:center;
    font-size:14px;
    padding-top:60px;
    text-decoration:none;
    color: #666;
    
}



footer a:nth-child(1) {
    background-image: url('img/html_48.png');
    background-repeat: no-repeat;
    background-position:top center;
    grid-column: 2 / 3;
}

footer a:nth-child(2) {
    background-image: url('img/css_48.png');
    background-repeat:no-repeat;
    background-position:top center;
    grid-column: 3 / 4;

}

footer a:nth-child(3) {
    background-image: url('img/cc_48.png');
    background-repeat:no-repeat;
    background-position:top center;
    grid-column: 4 / 5;

}

footer a:nth-child(4) {
    background-image: url('img/a11y_48.png');
    background-repeat:no-repeat;
    background-position:top center;
    grid-column: 5 / 6;
}
footer a:nth-child(5) {
    background-image: url('img/github_48.png');
    background-repeat:no-repeat;
    background-position:top center;
    grid-column: 6;
}

#zen-resources {
    background-image: url('img/world_edit.jpg');
    padding: 130px 20px 400px 20px;
    background-size:cover;
    background-position:top center; 
}

#zen-resources ul {
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap:10px;
    grid-auto-rows: 1fr;
}

#zen-resources ul li a {
    color:white;
    text-decoration:none;
    font-size: 14px;
    text-transform:uppercase;
}

#zen-resources ul li {
    text-align:center;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    min-height:50px;
    padding: 5%;
    align-items: center;
    justify-content: center;
}

#zen-resources ul li a {
    text-align:center;
}

#zen-resources ul li:nth-child(1)  {
    background-color:#f09e56;  
}

#zen-resources ul li:nth-child(1) a {
    font-size:11px;  
}

#zen-resources ul li:nth-child(2)  {
    background-color:#d9d9d8; 
}

#zen-resources ul li:nth-child(3)  {
    background-color:rgba(255,255,255,1);
    color:black;
}

#zen-resources ul li:nth-child(3) a  {
    color:black;
}

#zen-resources ul li:nth-child(4)  {
    background-color:#facd2f;
}

#zen-resources ul li:nth-child(5)  {
    background-color:#4984c5; 
}

.resources {
    display:none;
}

#zen-supporting {
    background-color: #facd2f;
}

#zen-preamble {
    background-image: url('img/summer_edit_lighter.png');
    background-size:cover;
   
    
}

#zen-preamble {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 70px 50px;
}

.preamble h3{
    font-family: "Heimat Display";
    src: url("/fonts/Heimat Display 20 Regular.woff") format("woff2");
    font-size: 2.5em;
}

.preamble p {
    grid-column: 1 / 4;
}



/* media queries */
@media (max-width: 1000px)  {
    .design-selection nav ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .design-selection nav ul li:nth-child(1) {
        background-color: #4984c5;
        grid-column: 1 /2;
    }
    .design-selection nav ul li:nth-child(2) {
        background-color: #f09e56;
        grid-column: 2 ;
    }
    
    .design-selection nav ul li:nth-child(3) {
        background-color: #ffffff;
        grid-column: 1 / 2;
        color: black;
    }

    
    .design-selection nav ul li:nth-child(4) {
        background-color: #facd2f;
        grid-column: 2;
        
    }
    
    .design-selection nav ul li:nth-child(5) {
        background-color: #ffffff;
        grid-column: 1 / 2;
        color: black;
    }
  
    
    .design-selection nav ul li:nth-child(6) {
        background-color: #4984c5;
        grid-column: 2;
        
    }
    
    .design-selection nav ul li:nth-child(7) {
        background-color: #facd2f;
        grid-column: 1/ 2;
        
    }
    
    .design-selection nav ul li:nth-child(8) {
        background-color: #ffffff;
        grid-column: 2;
        color: black;
    }

    .intro header {
        background-size:cover;
    }
}

@media (max-width: 865px) {
    #zen-resources ul  {
        grid-template-columns: 1fr 1fr;
    }

    #zen-preamble {
        grid-template-columns: 1fr;
    }

    .requirements {
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23f09e56' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        grid-template-columns: 1fr;
    }

    .summary {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    #zen-resources ul  {
        grid-template-columns: 1fr;
    }
    
    footer {
        grid-template-columns: repeat(5, 1fr);
        padding:0;
        margin: 50px 10px 0px;
        background-color: #facd2f;
    }

    footer a:nth-child(1) {
        grid-column: 1 / 2;

    }

    footer a:nth-child(2) {
        grid-column: 2 / 3;
    }

    footer a:nth-child(3) {
        grid-column: 3 / 4;
    }

    footer a:nth-child(4) {
        grid-column: 4 / 5;
    }

    footer a:nth-child(5) {
        grid-column: 5;
    }

    .requirements {
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23f09e56' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        grid-template-columns: 1fr;
    }

 
    #zen-preamble {
        grid-template-columns: 1fr;
        background-image: url('img/summer_small_light.png');
    }
}

