* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Robot', sans-serif;
}

.intro header{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    background-image: url('edited_hiker_bigger.png');
    background-position: top right;
    background-size:contain;
    background-repeat: no-repeat;
    margin-bottom:80px;
}



.intro h1 {
    font-family: "Heimat Display";
    src: url("/fonts/Heimat Display 20 Regular.woff") format("woff2");
    font-size: 120px;   
    grid-column: 1 /3;
    padding-left: 50px;
}

.intro h2 {
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    text-transform:lowercase;
    color: rgba(0,0,0,0.6);
    grid-column: 1/3;
    padding-left: 50px;
}

.summary {
    background-color: #4984c5;
    padding:30px;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    font-size: 20px;
}



.summary h2 {
    grid-column: 1 / 4;

}

.summary p {
    grid-column: 1 /4;
    padding: 20px;
}

.summary p a {
    color: white;
    font-size:1.4em;
    text-decoration: none;
}

.requirements {
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    background-image:url('kayak_smaller_1.png');
    background-size:contain;
    background-repeat: no-repeat;
}


.design-selection nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.design-selection nav ul li {
    padding: 50px;
}

.design-selection nav {
    color: white;
}

.design-selection nav ul li a {
    color:white;
    text-decoration:none;
    font-family: "Heimat Display";
    src: url("/fonts/Heimat Display 20 Regular.woff") format("woff2");
    font-weight:bold;
}

.design-selection nav ul li:nth-child(1) {
    background-color: #4984c5;
    grid-column: 1 /2;
}
.design-selection nav ul li:nth-child(2) {
    background-color: #f09e56;
    grid-column: 2 /3;
}

.design-selection nav ul li:nth-child(3) {
    background-color: #ffffff;
    grid-column: 3 / 4;
    color: black;
}
.design-selection nav ul li:nth-child(3) a {
    color: black;
}

.design-selection nav ul li:nth-child(4) {
    background-color: #facd2f;
    grid-column: 4;
    
}

.design-selection nav ul li:nth-child(5) {
    background-color: #ffffff;
    grid-column: 1 / 2;
    color: black;
}
.design-selection nav ul li:nth-child(5) a {
    color: black;
}

.design-selection nav ul li:nth-child(6) {
    background-color: #4984c5;
    grid-column: 2 / 3;
    
}

.design-selection nav ul li:nth-child(7) {
    background-color: #facd2f;
    grid-column: 3 / 4;
    
}

.design-selection nav ul li:nth-child(8) {
    background-color: #ffffff;
    grid-column: 4;
    color: black;
}
.design-selection nav ul li:nth-child(8) a {
    color: black;
}

ul{
    list-style-type: none;
}

.select {
    display:none;
}